{% if response %}
Reporte
{% for item in response.imdata %}
Code: {{ item.faultInst.attributes.code }}
Descr: {{ item.faultInst.attributes.descr }}
Created: {{ item.faultInst.attributes.created }}
Severity: {{ item.faultInst.attributes.severity }}
--------------
{% endfor %}
{% endif %}